# python
__pycache__
*.pyc
/pip-selfcheck.json
*.egg-info

# pytest
/.cache
/.coverage
/htmlcov

# virtualenv
/.venv
/.virtualenv
/bin
/build
/dist
/include
/lib
/lib64
/share

# uv
/.python-version
/uv.lock
