[REPORTS]
reports = no
output-format = colorized

[MESSAGES CONTROL]
disable = bad-continuation, missing-docstring, too-few-public-methods,
	locally-disabled, locally-enabled

[FORMAT]
indent-string = \t
