name: run-tests

on:
  push:
    branches:
      - master
      - develop
    tags:
      - '**'
  pull_request:
    branches:
      - '**'
  schedule:
    - cron: '0 8 1 * *'

jobs:
  pytest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - run: uv run -m pytest

  black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - run: uvx black --check .

  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - run: uvx ruff check .
